.account {
    width: 100vw;
    height: 100vh;
    background-color: rgb(67, 107, 216);   
}
.form-wrap {
    width: 285px;
    margin: auto;
    padding-top: 100px;
    color: cadetblue;
    label{
        display: block;
        font-size: 14px;
        color: #fff;
    }
}
